In [1]:
import pandas as pd

color_data = pd.read_csv('./color.csv')
color_data

                   Name            BGR
0    UltimateGary_color  151, 149, 147
1        Cerulean_color  212, 183, 155
2       GreenAsh_color   173, 221, 160
3   Illuminating_color    77, 233, 245
4     FrenchBule_color     181, 114, 0
..                  ...            ...
86              GrayRed    81, 92, 114
87             VividRed    86, 60, 190
88        LightGrayBlue  205, 175, 158
89           StrongPink    96, 30, 196
90                Dlark     28, 28, 28

[91 rows x 2 columns]

In [14]:
color_data.dropna(inplace=True)

In [17]:
import numpy as np
color = color_data['Name'].to_numpy()
color

array(['UltimateGary_color', 'Cerulean_color', 'GreenAsh_color ',
       'Illuminating_color ', 'FrenchBule_color ', 'IndigoBunting_color ',
       'Mint_color ', 'PolatNight_color ', 'Willow_color ',
       'Inkweel_color ', 'PickledPepper_color ', 'PurpleRose_color ',
       'Buttercream_color ', 'Macchiato_color ', 'BabysBreath_color ',
       'DesertMist_color ', 'Beige_color ', 'sphagnum_color ', 'White',
       'LightNavy', 'LightGrayOrange', 'PalePink', 'DarkGrayRed',
       'DarkBlue', 'DarkRed', 'LightGrayNavy', 'DarkGrayOrange',
       'LightGrayOrange', 'GrayOrange', 'White', 'DarkOrange', 'SoftBlue',
       'DarkRed', 'Dlack', 'Gray', 'White2', 'white3', 'LightRed',
       'LightGray', 'PaleBlue', 'LightGray', 'DarkNavy', 'GrayNavy',
       'Dlack', 'VividTurquoise', 'PaleBlue', 'LightGrayGreen', 'White',
       'DarkGrayishGreen', 'White', 'DarkGreen', 'LightGrayYellow',
       'DarkGrayGreen', 'Dlack', 'DeepNavy', 'White', 'PaleBlue',
       'LightYellow', 'LightRed', 'Dlack', 'PaleBlue', 'DullOrange',
       'PaleBlue', 'White', 'PaleBlue', 'Dlack', 'VividBlue', 'LightGray',
       'DeepBlue', 'PaleBlue', 'LightGrayOrange', 'LightGrayOrange',
       'LightGrayOrange', 'LightGrayRed', 'LightGrayOrange', 'Gray',
       'LightGrayOrange', 'GrayNavy', 'LightGrayOrange', 'GrayOrange',
       'LightRed', 'LightGrayOrange', 'LightRed', 'LightGray', 'LightRed',
       'GrayRed', 'VividRed', 'LightGrayBlue', 'StrongPink', 'Dlark'],
      dtype=object)

In [18]:
bgr = color_data['BGR'].to_numpy()
bgr

array(['151, 149, 147', '212, 183, 155', '173, 221, 160', '77, 233, 245',
       '181, 114, 0', '169, 108, 0', '112, 161, 0', '64, 53, 52',
       '79, 139, 154', '69,57, 54', '83, 166, 160', '202, 159, 176',
       '206, 227, 240', '117, 139, 173', '209, 226, 233', '137, 181, 224',
       '150, 185, 212', '61, 99, 98', '255, 255, 255', '207, 176, 155',
       '139, 162, 188', '196, 179, 230', '103, 102, 106', '78, 41, 15',
       '44, 56, 84', '133, 126, 123', '50, 61, 81', '189, 170, 153',
       '90, 71, 57', '255, 255, 255', '43, 62, 99', '130, 101, 74',
       '55, 68, 100', '38, 38, 38', '169, 164, 165', '234, 234, 234',
       '239, 239, 239', '141, 118, 222', '217, 215, 214', '219, 192, 171',
       '219, 219, 219', '69, 34, 24', '108, 102, 103', '22, 22, 22',
       '33, 164, 132', '182, 216, 226', '153, 207, 148', '255, 255, 255',
       '69, 105, 91', '231, 231, 231', '33, 104, 88', '196, 223, 227',
       '53, 91, 63', '39, 39, 39', '76, 4, 4', '236, 236, 236',
       '227, 197, 168', '131, 211, 234', '117, 98, 247', '39, 39, 39',
       '239, 224, 198', '106, 149, 182', '207, 176, 155', '244, 244, 244',
       '215, 194, 163', '26, 26, 26', '127, 93, 17', '212, 211, 213',
       '126, 80, 9', '209, 179, 152', '144, 167, 193', '233, 238, 247',
       '209, 220, 234', '134, 134, 198', '216, 225, 239', '160, 160, 160',
       '215, 223, 236', '108, 59, 61', '209, 218, 232', '58, 73, 92',
       '147, 129, 218', '232, 239, 248', '156, 138, 232', '199, 199, 199',
       '203, 193, 240', '81, 92, 114', '86, 60, 190', '205, 175, 158',
       '96, 30, 196', '28, 28, 28'], dtype=object)

In [19]:
b = []
g = []
r = []

for c in bgr :
    b.append(int(c.split(',')[0]))
    g.append(int(c.split(',')[1]))
    r.append(int(c.split(',')[2]))

b = np.array(b)
g = np.array(g)
r = np.array(r)

print(b)
print(g)
print(r)

[151 212 173  77 181 169 112  64  79  69  83 202 206 117 209 137 150  61
 255 207 139 196 103  78  44 133  50 189  90 255  43 130  55  38 169 234
 239 141 217 219 219  69 108  22  33 182 153 255  69 231  33 196  53  39
  76 236 227 131 117  39 239 106 207 244 215  26 127 212 126 209 144 233
 209 134 216 160 215 108 209  58 147 232 156 199 203  81  86 205  96  28]
[149 183 221 233 114 108 161  53 139  57 166 159 227 139 226 181 185  99
 255 176 162 179 102  41  56 126  61 170  71 255  62 101  68  38 164 234
 239 118 215 192 219  34 102  22 164 216 207 255 105 231 104 223  91  39
   4 236 197 211  98  39 224 149 176 244 194  26  93 211  80 179 167 238
 220 134 225 160 223  59 218  73 129 239 138 199 193  92  60 175  30  28]
[147 155 160 245   0   0   0  52 154  54 160 176 240 173 233 224 212  98
 255 155 188 230 106  15  84 123  81 153  57 255  99  74 100  38 165 234
 239 222 214 171 219  24 103  22 132 226 148 255  91 231  88 227  63  39
   4 236 168 234 247  39 198 182 155 244 163  26  17 213   9 152 193 247
 234 198 239 160 236  61 232  92 218 248 232 199 240 114 190 158 196  28]

In [2]:
import cv2

image = cv2.imread('./imgs/wuze.jpg')

image.shape

(822, 610, 3)

In [26]:
def mouse_callback(event, x, y, flags, param) :
    if event == cv2.EVENT_LBUTTONDOWN:
        image_color = image[y, x]

        print(color[np.argmin((b - image_color[0]) ** 2 + (g - image_color[1]) ** 2 + (r - image_color[2]) ** 2)])
        
        
cv2.namedWindow('image')
cv2.setMouseCallback('image', mouse_callback)


while(True) :
    image = cv2.imread('./imgs/wuze.jpg')
    
    cv2.imshow('image', image)

    if cv2.waitKey(1) & 0xFF == 27:
        break
cv2.destroyAllWindows()

Dlark
UltimateGary_color
UltimateGary_color
UltimateGary_color